*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    user-select: none;

}
body{
    font-family:'Helvetica Neue', sans-serif;
    width: 90vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.calculator{
    background-color: black;
    border-radius: 50px;
    color: white;
    height: 100%;
    width: 500px;
    padding:10px;
    display: flex;
    flex-direction: column;
    
    position: relative;
    justify-content: flex-end;
    

    

}
.display{

    height: 30%;
    width: 100%;
    text-align: right ;
    padding: 20px;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid red;



}
.previous-display{
    opacity: 0.5;
    font-size: 50px;
    overflow: hidden;

}
.buttons-container{
    
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 1px solid blue;
    
    height:70%;
    position: relative




}
.button{
    align-items: center;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 45px;
    height: 87px;
    width: 87px;
    justify-content: center;
    transition: filter .3s;
    position: relative

}
.function{
    color: black;
    background-color:#a5a5a5;

}
.operator{
    background:#f1a33c;

}
.button.number-0{
    grid-column: 1 / span 2;
    justify-content: flex-start;
    padding-left: 43px;
    width: 215px;
    border-radius: 55px;

}
.buttton:active,
.button:focus {
    filter:brightness(120%)

}
.button:hover{
    opacity: 0.5;
    
}